body {
  background-color: pink;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-size: large;
  color: blue;
}

.highlight {
  background-color: yellow;
  margin-left: 50px;
}

.container {
  padding: 10px;
  background-color: blue;
}

#main-header {
  font-size: 45px;
}

h1,
h2 {
  font-size: large;
  color: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
